<h2>Listing Categories</h2>

<span><%= link "New Category", to: category_path(@conn, :new) %></span>

<ol class="category-list">
  <%= for category <- @categories do %>
    <li class="category-list__item">
      <h2 class="category-list__item__title">
        <%= category_link(@conn, category) %>
      </h2>
    </li>
  <% end %>
</ol>
